:root {
	--inputBorder: #c7cad1;
	--duration: 0.5s;
}

input[type=checkbox].cus-radche,
input[type=checkbox].cus-radche:after,
input[type=radio].cus-radche {
	width: 1.5em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	transition: all 0.1s linear;
}

input[type=checkbox].cus-radche {
	background: var(--bs-tertiary-bg);
	border-radius: 0.25em;
	box-shadow: 0 0 0 0.1em var(--bs-border-color) inset;
}

input[type=checkbox].cus-radche:after {
	color: #255ff4;
	content: "\2713";
	display: block;
	font-size: 1.5em;
	line-height: 1;
	text-align: center;
	transform: scale(0);
	transform-origin: 50% 67%;
	width: 100%;
	height: 100%;
}

input[type=checkbox].cus-radche:checked {
	animation: popOutCheckbox var(--duration) linear;
}

input[type=checkbox].cus-radche:checked:after {
	transform: scale(1);
	transition:
		background 0.1s linear,
		color 0.1s linear,
		transform calc(var(--duration) / 5) calc(var(--duration) / 2) linear;
}

input[type=checkbox].cus-radche:active,
input[type=checkbox].cus-radche:focus {
	/* background: var(--bs-secondary-bg); */
	box-shadow: 0 0 0 0.1em var(--bs-primary) inset;
}

input[type=checkbox].cus-radche:active:after,
input[type=checkbox].cus-radche:focus:after {
	color: var(--bs-primary);
}

input[type=radio].cus-radche {
	background: var(--bs-primary);
	border-radius: 50%;
	box-shadow:
		0 0 0 0.1em var(--inputBorder) inset,
		0 0 0 0.76em var(--bs-tertiary-bg) inset;
}

input[type=radio].cus-radche:checked {
	animation: popOutRadio var(--duration) linear;
	box-shadow:
		0 0 0 0.1em var(--inputBorder) inset,
		0 0 0 0.375em var(--bs-tertiary-bg) inset;
}

input[type=radio].cus-radche:active,
input[type=radio].cus-radche:focus {
	background: var(--bs-primary);
	box-shadow:
		0 0 0 0.1em var(--bs-primary) inset,
		0 0 0 0.76em var(--bs-secondary-bg) inset;
}

input[type=radio].cus-radche:checked:active,
input[type=radio].cus-radche:checked:focus {
	box-shadow:
		0 0 0 0.1em var(--bs-primary) inset,
		0 0 0 0.375em var(--bs-secondary-bg) inset;
}

/* Animations */
@keyframes popOutCheckbox {
	from {
		background: transparent;
		border-radius: 50%;
		box-shadow:
			0 0 0 0.375em var(--bs-primary),
			0 0 0 0.76em var(--bs-primary) inset;
		transform: scale(0);
	}

	25% {
		background: transparent;
		border-radius: 50%;
		box-shadow:
			0 0 0 0.375em #db0bdb,
			0 0 0 0.375em #db0bdb inset;
		transform: scale(1);
	}

	50% {
		background: transparent;
		border-radius: 50%;
		box-shadow:
			0 0 0 0 #db0b0b,
			0 0 0 0 #db0b0b inset;
		transform: scale(1);
	}

	50.1% {
		background: var(--bs-tertiary-bg);
		border-radius: 0.25em;
		box-shadow:
			0 0 0 0 var(--bs-primary),
			0 0 0 0.1em var(--inputBorder) inset;
		transform: scale(0);
	}

	75% {
		background: var(--bs-tertiary-bg);
		border-radius: 0.25em;
		box-shadow:
			0 0 0 0 var(--bs-primary),
			0 0 0 0.1em var(--inputBorder) inset;
		transform: scale(1.1);
	}

	87.5% {
		background: var(--bs-tertiary-bg);
		border-radius: 0.25em;
		box-shadow:
			0 0 0 0 var(--bs-primary),
			0 0 0 0.1em var(--inputBorder) inset;
		transform: scale(0.95);
	}

	to {
		background: var(--bs-tertiary-bg);
		border-radius: 0.25em;
		box-shadow:
			0 0 0 0 var(--bs-primary),
			0 0 0 0.1em var(--inputBorder) inset;
		transform: scale(1);
	}
}

@keyframes popOutRadio {
	from {
		background: transparent;
		box-shadow:
			0 0 0 0.375em var(--bs-primary),
			0 0 0 0.76em var(--bs-primary) inset;
		transform: scale(0);
	}

	25% {
		background: transparent;
		box-shadow:
			0 0 0 0.375em #db0bdb,
			0 0 0 0.76em #db0bdb inset;
		transform: scale(1);
	}

	50% {
		background: transparent;
		box-shadow:
			0 0 0 0 #db0b0b,
			0 0 0 0 #db0b0b inset;
		transform: scale(1);
	}

	50.1% {
		background: var(--bs-primary);
		box-shadow:
			0 0 0 0.1em var(--inputBorder) inset,
			0 0 0 0.375em var(--bs-tertiary-bg) inset;
		transform: scale(0);
	}

	75% {
		background: var(--bs-primary);
		box-shadow:
			0 0 0 0.1em var(--inputBorder) inset,
			0 0 0 0.375em var(--bs-tertiary-bg) inset;
		transform: scale(1.2);
	}

	87.5% {
		background: var(--bs-primary);
		box-shadow:
			0 0 0 0.1em var(--inputBorder) inset,
			0 0 0 0.375em var(--bs-tertiary-bg) inset;
		transform: scale(0.9);
	}

	to {
		background: var(--bs-primary);
		box-shadow:
			0 0 0 0.1em var(--inputBorder) inset,
			0 0 0 0.375em var(--bs-tertiary-bg) inset;
		transform: scale(1);
	}
}