<!DOCTYPE html>
<html lang="en">
<body>


	<div class="d-flex justify-content-center align-items-center dvh-100" ng-if="!M4M.Sending.data">
		<div class="spinner-border" style="width:5rem;height:5rem"></div>
	</div>

	<div class="container-lg" ng-controller="SendingCtrl" ng-if="M4M.Sending.data">
		
		<div class="dropdown">
			<button class="btn bg-body-secondary rounded-circle border position-fixed top-0 end-0 m-3 p-0 text-center" style="height:3rem;width:3rem;z-index:1035" data-bs-toggle="dropdown" data-bs-auto-close="outside">
				<i class="bi bi-funnel fs-5"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-end p-3" style="width:18rem; z-index:1060">
				<input type="search" class="form-control" role="search" placeholder="{{'m4m.search' | translate}}" ng-model="search.$">
				<div class="hstack mt-3">
					<div class="col">{{'filter.filterBy' | translate}}</div>
					<div class="col">
						<select class="form-select" ng-model="search.category">
							<option value="" selected>{{'category.name' | translate}}</option>
							<option ng-repeat="category in M4M.Category.data" value="{{category.id}}">{{category.icon}}&nbsp;{{category.name}}</option>
						</select>
					</div>
				</div>
				<div class="hstack mt-3">
					<div class="col">{{'filter.filterBy' | translate}}</div>
					<div class="col">
						<select class="form-select" ng-model="search.wallet">
							<option value="" selected>{{'wallet.name' | translate}}</option>
							<option ng-repeat="wallet in M4M.Wallet.data" value="{{wallet.id}}">{{wallet.icon}}&nbsp;{{wallet.name}}</option>
						</select>
					</div>
				</div>
				<div class="hstack mt-3 mb-4">
					<div class="col">{{'filter.sortBy' | translate}}</div>
					<div class="col-auto">
						<i class="bi bi-sort-alpha-down{{reve?'-alt':''}} mx-2 fs-4 c-pointer" ng-init="reve = false" ng-model="reve" ng-click="reve = !reve"></i>
					</div>
					<div class="col">
						<select class="form-select" ng-init="sort = 'time'" ng-model="sort">
							<option value="time">{{'m4m.time' | translate}}</option>
							<option value="content">{{'m4m.content' | translate}}</option>
							<option value="price">{{'m4m.price' | translate}}</option>
						</select>
					</div>
				</div>
				<div class="p-0">{{'sending.amount'| translate}}<b class="ms-2">{{result.length}}</b></div>
				<div class="p-0">{{'sending.total' | translate}}<b class="ms-2">{{getTotal(result) | currency:'':0}}&nbsp;{{getCurrency(M4M.Wallet.currency).symbol_native}}</b></div>
				<button class="btn btn-danger mt-5 w-100" ng-click="search={};reve=false;sort='time'">{{'filter.delete' | translate}}</button>
			</div>
		</div>

		<button class="btn-GoDown position-absolute bottom-0 end-0 translate-middle mb-5" style="z-index:1035" ng-init="isScrollBottom = true" ng-hide="isScrollBottom" ng-click="isScrollBottom = true">
			<i class="bi bi-arrow-down fs-5"></i>
		</button>
		<div class="col-12 col-md-8 col-xl-7 mx-auto dvh-100 overflow-y-scroll custom-scroll" scroll-glue="isScrollBottom">
			<ul class="list-group">
				<li class="list-group-item bg-purple text-center sticky-sm-top fs-4 fs-bold">
					{{'sending.list' | translate}}<b class="ms-2">{{getTotal(M4M.Sending.data) | currency:'':0}}&nbsp;{{getCurrency(M4M.Wallet.currency).symbol_native}}</b>
				</li>
				<div class="sending-gird">
					<li class="list-group-item sending-item" ng-repeat="sending in M4M.Sending.data | orderBy: sort : reve | filter:search as result track by $index">
						<div class="row g-2">
							<div class="col col-sm-auto align-self-center" ng-init="CateHover=false" ng-click="CateHover=true" ng-mouseover="CateHover=true" ng-mouseleave="CateHover=false">
								<div class="fs-4" ng-show="!CateHover">{{getCategory(sending.category).icon}}</div>
								<select class="form-select bg-transparent focus-ring focus-ring-0 border-0 ps-0 c-pointer" ng-model="sending.category" ng-show="CateHover || !sending.category">
									<option class="bg-body" value="" selected disabled>{{'category.name' | translate}}</option>
									<option class="bg-body" ng-repeat="category in M4M.Category.data" value="{{category.id}}">{{category.icon}}&nbsp;{{category.name}}</option>
								</select>
							</div>
							<div class="col col-sm-auto align-self-center" ng-init="WaleHover=false" ng-click="WaleHover=true" ng-mouseover="WaleHover=true" ng-mouseleave="WaleHover=false">
								<div class="fs-4" ng-show="!WaleHover">{{getWallet(sending.wallet).icon}}</div>
								<select class="form-select bg-transparent focus-ring focus-ring-0 border-0 ps-0 c-pointer" ng-model="sending.wallet" ng-show="WaleHover || !sending.wallet">
									<option class="bg-body" value="" selected disabled>{{'wallet.name' | translate}}</option>
									<option class="bg-body" ng-repeat="wallet in M4M.Wallet.data" value="{{wallet.id}}">{{wallet.icon}}&nbsp;{{wallet.name}}</option>
								</select>
							</div>
							<div class="col-12 col-sm-2 col-md col-lg-2">
								<input type="datetime-local" class="form-control bg-transparent focus-ring focus-ring-0 border-0 px-sm-0" ng-model="sending.time" ng-init="sending.time = viewTime(sending.time)">
							</div>
							<div class="col-12 col-sm col-md-auto col-lg">
								<input type="text" class="form-control bg-transparent focus-ring focus-ring-0 border-0" placeholder="{{'m4m.content' | translate}}" maxlength="256" ng-model="sending.content">
							</div>
							<div class="col col-sm-2 col-md col-lg-3">
								<input type="text" class="form-control bg-transparent focus-ring focus-ring-0 border-0" placeholder="{{'m4m.price' | translate}}" ng-keyup="formatCurrency($event)" ng-model="sending.price">
							</div>
							<div class="col-auto align-self-center">
								<i class="bi bi-trash3 text-danger fs-6 c-pointer" ng-click="DelSending($index)"></i>
							</div>
						</div>
					</li>
				</div>
				<li class="list-group-item list-group-item-action text-center c-pointer" ng-click="AddSending()">{{'m4m.add' | translate}}<i class="bi bi-plus-lg ms-2"></i></li>
			</ul>
			<div class="row m-0 p-0 mt-5 sticky-bottom">
				<div class="col m-0 p-0 align-self-center">
					{{'sending.search' | translate:{s:result.length, t:M4M.Sending.data.length} }}
					<div class="form-text">{{'m4m.updatetime' | translate:{time: viewTime(M4M.Sending.time)} }}</div>
				</div>
				<div class="col-auto m-0 p-0 align-self-center">
					<button class="btn-Purple px-3 px-sm-5" ng-disabled="!formChanged" ng-click="SaveSending()">{{'m4m.save' | translate}}<i class="bi bi-floppy ms-2"></i></button>
				</div>
			</div>
		</div>

	</div>


</body>
</html>