<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/Asset/Script/autogrow.js"></script>
</head>
<body>


	<div class="modal fade" id="Modal_Config" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" ng-controller="ConfigCtrl">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title mx-auto fw-bold text-center">{{'config.name' | translate}}</h5>
					<button class="btn-close position-absolute top-0 end-0 m-2 fs-5" ng-click="ExitConfig()"></button>
				</div>
				<div class="modal-body custom-scroll">
					<textarea class="form-control bg-transparent" rows="8" oninput="auto_grow(this)" onblur="auto_grow(this)" ng-model="config" placeholder='{{FirebaseConfig}}' ng-change="ChangeForm()"></textarea>
				</div>
				<button class="btn-Purple m-3 mt-5" ng-disabled="!formChanged" ng-click="setConfig()" data-bs-dismiss="modal">{{'m4m.save' | translate}}<i class="bi bi-floppy ms-2"></i></button>
			</div>
		</div>
	</div>


</body>
</html>