<!DOCTYPE html>
<html lang="en">
<body>


	<div class="d-flex justify-content-center align-items-center dvh-100" ng-if="!M4M.Income.data || !M4M.Sending.data">
		<div class="spinner-border" style="width:5rem;height:5rem"></div>
	</div>
	<div class="container-lg" ng-controller="StatisticalCtrl" ng-if="M4M.Income.data && M4M.Sending.data">
		<canvas id="Statistical-Chart" ng-init="drawChart()"></canvas>

		<div class="hstack justify-content-center gap-3 mt-3">
			<div class="col-auto">{{'statistical.name' | translate}}</div>
			<div class="col-auto">
				<select class="form-select" ng-model="Statistical.name" ng-change="drawChart()">
					<option value="income">{{'income.name' | translate}}</option>
					<option value="sending">{{'sending.name' | translate}}</option>
				</select>
			</div>
			<div class="col-auto">
				<select class="form-select" ng-model="Statistical.groupBy" ng-change="drawChart()">
					<option value="day">{{'filter.day' | translate}}</option>
					<option value="month">{{'filter.month' | translate}}</option>
					<option value="year">{{'filter.year' | translate}}</option>
				</select>
			</div>
		</div>


		
	</div>


</body>
</html>